{% extends 'dashboard/main.html' %}

{% load static %}
{% block content %}
<style>
    .card {
        display: inline-block;
        margin: 1%;
    }
</style> 
<h2>Add Stats for {{ employee }}</h2>
<hr>
<!--Section title-->
<h3 class="h3 mb-0 text-gray-800" style="padding-bottom: 20px; padding-top: 30px;">Weekly Stats</h3>
<!-- Add Stats -->
<div class="form-group">
    <form method="POST"> 
        {% csrf_token %} 
        {{ formset.management_form }}
        {% for form in formset %}     
            <div class="card border-left shadow h-100 py-2" style="border-radius: 14px;">    
                {% for field in form.visible_fields %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ field.label_tag }}</div>
                                <div>{{ field }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}  
            </div> 
        {% endfor %}
        <div>
            <button class="btn btn-success">Add Stats</button>
        </div>
    </form>
</div>

{% endblock %}