{% extends 'dashboard/main.html' %}

{% load static %}
{% block content %}
<h2>{{ specialist }}</h2>
<hr>
<!--Section title-->
<h3 class="h3 mb-0 text-gray-800" style="padding-bottom: 20px; padding-top: 30px;">Edit {{ specialist }}</h3>
<!-- Add Stats -->
<div class="form-group">
    <form method="post">
        {% csrf_token %}
        <!-- {{ specialist_form.management_form }}
            {% for form in specialist_form  %} 
            <div class="card border-left shadow h-100 py-2" style="border-radius: 14px;">    
                {% for field in form %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ field.label_tag }} {{ field }} </div>
                        <div></div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %} -->
            {{ specialist_form }}
        <div>
            <button class="btn btn-success">Update</button>
        </div>
    </form>
</div>             
{% endblock %}